.pg7 {
    width: 86%;
    height: 100vh;
    background-color: rgb(240, 225, 48);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.game{
    margin-top: 90px;
}
p {
    font-size: 20px;
    margin-bottom: 20px;
}

.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    display: block;
    transition: opacity 0.5s ease;
}

.image-container {
    position: relative;
}

.discover-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
    margin-bottom: 10px;
}

.discover-button:hover {
    background-color: #0056b3;
}

/* Right arrow image styling */
.right-arrow-image {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: auto;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}
