body, html {
    height: 100%; /* Make sure the body takes the full height */
    margin: 0;    /* Remove default margin */
    background: #686565;
}

/* Background image styles */
.Background {
    position: fixed;           
    top: 0;                    
    left: 0;                    
    width: 98%; 
    margin-left: 1%;            
    height: 100vh;             
    object-fit: cover;         
    z-index: 0;               
}

